/* Style fuer ALKIS-Navigation 
	Version
	 2011-04-11
	 2011-11-09 Historie, dbg
*/
body,p,a,.textfield,.sbutton	{font-family: Verdana, Arial, Helvetica, sans-serif;}
body		{font-size: 11px; color: #000000; margin: 0px;}

p			{font-size: 10px;}
p.hilfe 	{font-size:  9px; text-align: right; color: gray; padding-right: 3px;} /* Programmier-Hilfsfelder */
p.start 	{font-size:  9px; color: gray;}
p.nam		{font-size: 10px; border: 1px solid navy; padding: 3px; margin: 0px;}
p.err		{font-size: 11px; color: red;}	/* Fehler -> Anwender */
p.dbg		{font-size: 10px; color: gray;}	/* Debug -> Entwickler */

a			{text-decoration: none;} /* font-size: 11px; */
a:hover, a:active	{color: red;}
a.hislnk {color: gray; font-style: italic; text-align: right; padding-left: 50px;}	/* Link zur Historie */

/* abgestuft eingerueckte Treffer in der Suche */
div			{margin: 0px; padding: 0px;}
div.back 	{font-size: 10px; color: gray; border-bottom: 1px dotted gray;}
div.nam		{color: maroon;} /* Name */
div.ga		{color: fuchsia;	margin-left:  0px; margin-top: 6px;} /* GB-Amtsgericht */
div.gm		{color: green;		margin-left:  0px; margin-top: 6px;} /* Gemeinde */
div.gk		{color: black;		margin-left:  5px; margin-top: 6px;} /* Gemarkung o. GB-Bezirk*/
div.fl		{color: olive;		margin-left: 12px; margin-top: 4px;} /* Flur */
div.gb		{color: green;		margin-left: 10px; margin-top: 3px;} /* Grundbuch */
div.gs		{color: olive;		margin-left: 15px; margin-top: 2px;} /* Grundstueck, BVNR */
div.fs		{color: navy;		margin-left: 20px; margin-top: 0px;} /* Flurstueck */
div.hi		{color: gray;		margin-left: 20px; margin-top: 0px;} /* Historie */
div.hn		{color: gray;		margin-left: 25px; margin-top: 0px;} /* Historie-Nachfolger */

div.stu		{color: maroon; font-size: 13px;} /* Strasse - Ueberschrift */
div.stl		{color: maroon; font-size: 11px; margin-top: 3px;} /* Strasse - Liste*/
td.hsnr		{font-size: 11px; text-align: center; padding-left: 4px; padding-right: 4px;} /* Hausnummer */
hr				{color: gray;}

.textfield{
	border: 1px solid #990000;
	height: 20px;
	width: 140px;
	background: #FFFFFF;
}
.sbutton{font-size: 11px;
	font-weight: normal;
	border: solid thin;
	width: 22px;
	height: 20px;
	background: #6699FF;
}
img.nwlink	{border: 0px; margin: 0px; padding: 0px;} /* Icons mit Link zum Buch-Nachweis */
.letter		{cursor: pointer; font-weight: bold;} /* Liste Anfangsbuchstaben */

/* Registertabs */
/* ul in einem <div id='tabs' */
div#tabs ul {
	position: absolute; top: 0px;
	margin-top: 0px; margin-left: 0px; margin-bottom: 20px;
	padding: 0px;
	width: 220px;
	text-align: left;
	border: 0px dashed #00aa00;
}
div#tabs li {
	cursor: pointer;
	list-style: none; /* Eintraege NEBENeinander */
	float: left;
	text-align: center;
	background-color: #F9F9F9;
	border: 1px solid #CCD5DE;
	border-bottom-width: 1px;
	vertical-align: text-bottom;
	position: relative;
	background-image: url(./img/tab_bg_grau.gif); /* inaktive Tabs grau */
	background-repeat: repeat-x;
	background-position: top left;
	margin: 0 3px 0 0;
	padding: 2px;
}
div#tabs li.aktiveTab {
	background-image: url(./img/tab_bg_rot.gif);  /* aktive Tabs rot */
	background-color: #F9F9F9;
	border-bottom-color: #F9F9F9; /* nicht sichtbar, wie Hintergrund */
}

/* passt in Mapbender 2.5: tabs width=280, tab_frameHeight[n]=360 */
iframe.OuterFrame{
	width: 250px; height: 330px; 
	padding: 0px; margin: 0px;
	border: 0px dotted #ff0000;
	overflow: hidden;
	background-color: white;
}
form.nav {position: absolute; top: 22px;}
iframe.ResultFrame {
	position: absolute; top: 78px;
	width: 235px; height: 220px;
	padding: 0px; margin: 0px;
	border: 0px dotted #00ff00;
}
