<!-- MapServer Template -->
<table>
<tr>
	<td class='li'>Kulturart:</td>
	<td title='"Kulturart" ist die bestandskräftig festgesetzte landwirtschaftliche Nutzungsart entsprechend dem Acker- oder Grünlandschätzungsrahmen.'>[BOD_kulturart_e]</td>
</tr>
<tr>
	<td class='li'>Bodenart:</td>
	<td title='"Bodenart" ist die nach den Durchführungsbestimmungen zum Bodenschätzungsgesetz (Schätzungsrahmen) festgelegte Bezeichnung der Bodenart.'>[BOD_bodenart_e]</td>
</tr>
<tr>
	<td class='li'>Zustandsstufe:</td>
	<td title='"Zustandsstufe oder Bodenstufe" ist die nach den Schätzungsrahmen festgelegte Bezeichnung der Zustands- oder Bodenstufe.'>[BOD_zustandsstufe_e]</td>
</tr>
<tr>
	<td class='li'>Entstehungsart oder<br>Klimastufe/Wasserverhältnisse:</td>
	<td title='"Entstehungsart oder Klimastufe/Wasserverhältnisse" ist die nach den Schätzungsrahmen festgelegte Bezeichnung der Entstehungsart oder der Klimastufe und der Wasserverhältnisse.'>[BOD_entstehart1] [BOD_entstehart2]</td>
</tr>
<tr>
	<td class='li'>Bodenzahl oder<br>Grünlandgrundzahl:</td>
	<td title='"Bodenzahl oder Grünlandgrundzahl" ist die Wertzahl nach dem Acker- oder Grünlandschätzungsrahmen'>[BOD_grundz]</td>
</tr>
<tr>
	<td class='li'>Ackerzahl oder<br>Grünlandzahl:</td>
	<td title='"Ackerzahl oder Grünlandzahl" ist die "Bodenzahl oder Grünlandgrundzahl" einschließlich Ab- und Zurechnungen nach dem Bodenschätzungsgesetz.'>[BOD_agzahl]</td>
</tr>
<tr>
	<td class='li'>Sonstige Angaben:</td>
	<td title='"Sonstige Angaben" ist der Nachweis von Besonderheiten einer bodengeschätzten Fläche.'>[BOD_sonstigeangaben]&nbsp;</td>
</tr>
<tr>
	<td class='li'>Jahreszahl:</td>
	<td title='"Jahreszahl" ist das Jahr, in dem eine Neukultur oder Tiefkultur angelegt worden ist.'>[BOD_jahreszahl]&nbsp;</td>
</tr>
</table>
<hr>