/*	Modul: alkisauszug.css
	S t y l e s zur ALKIS-Buchauskunft, Kommunales Rechenzentrum Minden-Ravensberg/Lippe (Lemgo).

	Version:
	31.08.2010	Prototyp
	02.09.2010  Mit img
	06.09.2010  Kennzeichen-Rahmenfarben differenziert
	21.09.2010  Inlay
	30.09.2010  body-width bei Print
	12.10.2010  class p.fsd: margin statt position-relative, dann keine Scrollbar
*/
body	{background-color: #FDFFFD;}
p, body	{font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt; color: #000033; margin-top: 2pt; margin-bottom: 2pt;}

/* ** Banner im Kopf (Balken), Farbcode fuer Nachweis-Art ** */
p.fsausk		{text-align: right; background: teal;	color: silver;} /* Uebersichts-Seite Flurstuecks-Auskunft */
p.fskennz	{text-align: right; background: navy;	color: silver;} /* Flurstuecks-Nachweis */
p.fsei		{text-align: right; background: olive;	color: silver;} /* Flurstuecks- und Eigentuemer-Nachweis */
p.gbkennz	{text-align: right; background: green;	color: silver;} /* Bestandsnachweis */
p.nakennz	{text-align: right; background: maroon; color: silver;} /* Personen- und Adressdaten */
p.geb			{text-align: right; background: yellow; color: gray;}	/* Gebaeude zum FS */
p.lage		{text-align: right; background: lime; color: gray;}	/* Gebaeude zum FS */

p.bezieh	{text-align: right; background: olive;	color: silver;} /* Beziehungen */p.fsd		{margin-left: 170px;}	/* Flst-Flaeche */
p.gbl		{position: relative;	left:  60px;}	/* Nam: Buchungsstelle*/
p.zus		{margin: 2pt; padding: 2pt; border:1px dotted maroon; background: white;} /* Zusatz zum Eigent., gerahmt */
p.avh		{font-style: italic; color: navy;}	/* Anteilsverhaeltnis */
p.ant		{font-style: italic; position: relative;left: 12px;} /* Anteil am FS */
p.geig	{color: navy;}		/* GB-Nachw. Eigentuemer Name */
p.gadr	{color: maroon; margin-top: 1pt;}	/* GB-Nachw. Eigentuemer Adresse */
p.nwlink, td.nwlink {font-size: 7pt; text-align: right; margin-top: 0pt;}	/* Link zum Nachweis GB, FS, ..*/
p.err		{color: red;}								/* Fehler-Meldungen */
p.warn	{color: gray; font-style: italic;}	/* Warnung, Hinweis */
p.ph		{color: gray;}								/* Platzhalter */

/* Links */
a:link		{color: rgb(0,102,153);}
a:visited	{color: rgb(0,153,102);}
a:active		{color: rgb(0,102,102);}
a:hover		{color: rgb(255,40,40);}

/* Globaler Identifikator gml_id - Link fuer Entwicklung */
a.gmlid		{text-decoration: none;	color: silver; font-style: italic; font-size: 7pt; text-align: right;}
span.gmlid	{font-style: italic; font-size: 7pt; text-align: right;}

/* komplette Adresse im Rahmen*/
div.adr {border-left-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 2px; 
	border-top-width: 2px; 
	width: 60%;
	border-color: #a2d545;
	border-style: solid; 
	font-size: 12pt;
	margin-bottom: 8px;
	margin-top: 8px;
	margin-left: 0.7in;
	/* margin-right: 0.7in; */
	overflow: auto;
	padding: 6px;
	background: #e4f7dd;
}

span.key 		{color: gray; font-style: italic;} /* Schluesselwert vor Text, Wert zurueck nehmen */
span.wichtig	{color: #BB0000; font-weight: bold;} /* Wert hervorheben */
span.flae		{font-weight: bold;} /* Flächensume Flurst. */

/* ** T a b e l l e n ** */
table 		{font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 10pt; color: #000033;}
table.fsd	{font-size: 9pt; margin-left: 12px;}
table.bez	{font-size: 9pt; margin-bottom: 10px; margin-left: 3px;}

/* Kennzeichen mit Rahmen, Rahmen-Farben wie 'Balken' */
table.kennzfs	{border: 2px solid  navy;  padding: 3px; margin: 0px;}	/* Flurstueck */
table.kennzgb	{border: 2px solid  green; padding: 3px; margin: 0px;}	/* Grundbuch */
table.kennzgbf	{border: 2px dotted green; padding: 3px; margin: 0px;}	/* - fiktiv */
table.kennzla	{border: 2px solid  lime;  padding: 3px; margin: 0px;}	/* Lage */

/* volle Breite fuer verschiedene Zwecke */
table.fs, table.nua, table.klas, table.eig, table.outer, table.geb {width: 100%;}

td	{vertical-align: top;}			/*  ** Tabellenfelder ** */
/* td	{vertical-align: top; border: 1px dotted gray; }  Variante fuer TEST */

td.ll	{width: 130px; padding-top: 8px;}	/* Liste Links */
td.lr	{color: black; padding-top: 8px;}	/* Liste Rechts */
td.ph	{color: gray;  padding-top: 8px;}	/* Platzhalter, vorlaeufig, spaeter loschen */

/* Flaechen rechtsbuendig (stellengerecht) */
/* td.fla	{width: 90px; padding-right: 4px; text-align: right;} */
td.fla	{padding-right: 4px; text-align: right;}
td.key	{width: 35px; padding-right: 4px; padding-left: 4px;}
/* Ertragsmesszahl der Bodenschaetzung
td.emz	{width: 45px; padding-right: 4px; padding-left: 4px; 
			text-align: right;} */
td.kurz	{width: 26px; padding-left: 4px;}
td.nanu	{width: 80px;}				/* Namensnummer */
td.sond, p.sond	{font-size: 9pt; font-style: italic; background-color: white;
			border: 1px dotted silver; padding: 6px;}			/* Sondereigentumsbeschreibung */

td.nrap, p.nrap	{font-size: 9pt; font-style: italic; background-color: white;}			/* Nummer im Aufteilungsplan */

td.fett	{padding-top: 8px; font-weight: bold;}
td.head	{border-bottom: 1px solid gray; font-style: italic;}	/* Kopfzeile, Spaltenueberschrift */
td.sum {border-top:2px dotted maroon;	border-bottom:3px solid maroon;
	border-left:0px dotted maroon;	border-right:0px dotted maroon;
	font-weight: bold;}				/* unter dem Strich = Summenzeile */
td.bez	{font-weight: bold;}		/* Beziehungen */
td.nhd	{width: 150px;}			/* Namen - linke / rechte Spalte */
td.nam	{font-weight: bold;}
td.gbl	{border-bottom: 1px dotted green;}	/* Name: GB-Liste */
/* Inlay analog Template: linke Tabellenspalte - Feldname */
td.li, td.gr {color:gray; padding-left:8px; padding-right:8px; border-bottom:0px; vertical-align:top;}
/* dienendes GB in FS-Tab im Best-NW  */
td.dien	{font-size: 9pt; font-style: italic; color: purple; border-bottom: 1px solid silver;}

/* Ueberschriften */
h1, h2, h3, h4, h5, h6 {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;}
h1 {	color: black;	font-size: 14pt;}
h2 {	color: maroon;	font-size: 12pt;}
h3 {	color: green;	font-size: 12pt;}
h4 {	color: black;	font-size: 11pt;}
h5 {	color: black;	font-size: 10pt;}
h6 {	color: black;	font-size:  9pt; margin-top: 2pt; margin: 0pt}	/* FS in Best-NW */

img	{border: 0px; margin: 0px;} /* Icons */

iframe.inlay {border:0px; width: 100%;} /* height: 400px; */

/* Seitenfuss */
.buttonbereich	{font-size: 7pt;	text-align: right;}
.confbereich	{font-size: 7pt;
	background-color: #EFFDFF;
	width: 88%;
	position: relative;
	left: 40px;
}
@media print {
	body {width: 98%; background-color:white;}
}