/* Style fuer ALKIS-Navigation 
	Version
	2013-04-29	Abgleich Darstellung in IE/FF
	2013-05-08  in Arbeit ...
*/
body,p,a,.textfield,.sbutton	{font-family: Verdana, Arial, Helvetica, sans-serif;}
body		{font-size: 11px; color: #000000; margin: 0px; border: 0px;}
p			{font-size: 10px;}
p.hilfe 	{font-size:  9px; text-align: right; color: gray; padding-right: 3px;} /* Programmier-Hilfsfelder */
p.start 	{font-size:  9px; color: gray; padding: 2px; margin: 2px; border: 0px;}
p.nam		{font-size: 10px; border: 1px solid navy; padding: 3px; margin: 0px; color: maroon;}
p.err		{font-size: 11px; color: red;}	/* Fehler -> Anwender */
p.dbg		{font-size: 10px; color: gray;}	/* Debug -> Entwickler */
p.ein, p.anz, p.blt	{font-size: 9px; text-align: right;}	/* Einleitung, Anzahl am Ende, Blättern weitere ... */
p.ein  	{color: navy; font-weight: bold;}
p.anz, p.blt	{color: purple;}

a			{text-decoration: none;}
a:hover, a:active	{color: red;}
a.hislnk {color: gray; font-style: italic; text-align: right; padding-left: 50px;}	/* Link zur Historie */
a.hsnro	{color: gray; font-style: italic;} /* HsNr ohne Haus */
a.blt		{color: maroon; background-color: yellow;} 	/* Link weitere ... */

/* abgestuft eingerueckte Treffer in der Suche */
div			{margin: 0px; padding: 0px;}
div.back 	{font-size: 10px; color: gray; border-bottom: 1px dotted gray;}

div.ga		{color: fuchsia;	margin-left:  0px; margin-top: 6px;} /* GB-Amtsgericht */
div.gm		{color: green;		margin-left:  0px; margin-top: 6px;} /* Gemeinde */

div.gk		{color: black;		margin-left:  5px; margin-top: 6px;} /* Gemarkung o. GB-Bezirk */
div.pe		{color: black;		margin-left:  5px; margin-top: 0px;} /* Person, Eigentuemer */

div.fl		{color: olive;		margin-left: 12px; margin-top: 4px;} /* Flur */

div.gb		{color: green;		margin-left: 10px; margin-top: 3px;} /* Grundbuch */

div.gs		{color: olive;		margin-left: 15px; margin-top: 2px;} /* Grundstueck, BVNR */

div.fs		{color: navy;		margin-left: 20px; margin-top: 0px;} /* Flurstueck */
div.hi		{color: gray;		margin-left: 20px; margin-top: 0px;} /* Historie */
div.hn		{color: gray;		margin-left: 20px; margin-top: 0px;} /* Historie-Nachfolger */

div.stu		{color: maroon; font-size: 13px;} /* Strasse - Ueberschrift */
div.stl		{color: maroon; font-size: 11px; margin-top: 3px;} /* Strasse - Liste */

td.hsnr		{font-size: 11px; text-align: center; padding-left: 4px; padding-right: 4px;} /* Hausnummer */
hr				{color: silver; background-color: silver; height: 2px; border: 0px; width: 98%;}
dfn.title	{color: maroon; font-size: 10px; text-align: right; padding-left: 8px; padding-right: 4px;}
.aktuell		{background-color: #fdfbd0;}
.textfield	{border: 1px solid #990000; height: 20px; width: 140px; background: #FFFFFF;}
.sbutton		{font-size: 11px; font-weight: normal; border: solid 1px #000000; width: 22px; height: 20px; background: #6699FF;}
img			{border: 0px;} /* Icons */
img.nwlink	{border: 0px; margin: 0px; padding: 0px;} /* ..mit Link zum Buch-Nachweis */
.letter		{cursor: pointer; font-weight: bold;} /* Liste Anfangsbuchstaben */

/* Registertabs: ul in einem div id='tabs' */
div#tabs ul {position: absolute; top: 0px;
	margin-top: 0px; margin-left: 0px; margin-bottom: 20px;
	padding: 0px; width: 220px; text-align: left; border: 0px dashed #00aa00;}
div#tabs li {
	cursor: pointer;
	list-style: none; /* Eintraege NEBENeinander */
	float: left;
	text-align: center;
	background-color: #F9F9F9;
	border: 1px solid #CCD5DE;
	border-bottom-width: 1px;
	vertical-align: text-bottom;
	position: relative;
	background-image: url(./img/tab_bg_grau.gif); /* inaktive Tabs grau */
	background-repeat: repeat-x;
	background-position: top left;
	margin: 0 3px 0 0;
	padding: 2px;
}
div#tabs li.aktiveTab {
	background-image: url(./img/tab_bg_rot.gif);  /* aktive Tabs rot */
	background-color: #F9F9F9;	border-bottom-color: #F9F9F9;} /* nicht sichtbar, wie Hintergrund */

/* Anpassen an width des Tab in Mapbender */
/* in alkisnav.htm */
iframe.OuterFrame{width: 225px; height:400px; padding: 0px; margin: 0px;
	border: 0px dotted #ff0000; overflow: hidden; background-color: white;}
form.nav {position: absolute; top: 22px;}
iframe.ResultFrame {position: absolute; top: 78px; width: 220px; height: 290px;
	padding: 0px; margin: 0px; border: 0px dotted #00ff00;}
